.external-events {
  position: relative;
  width: 150px;
  padding: 0 10px;
  border: 1px solid #ccc;
  background: #eee;
}

.external-events .fc-event {
  margin: 1em 0;
  cursor: move;
}
/*
.fc-time-grid .fc-slats td {
  height: 5em;
  border-bottom: 0;
}

.fc-slats td {
  height: 50px !important;
  font-size: 8px !important;
}
*/
/*
.calendar-container {
    position: relative;
    z-index: 1;
    margin-left: 200px;
}
*/